{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "react"
  ],
  "plugins": [
    "lodash",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "react-hot-loader/babel",
    "transform-export-extensions"
  ]
}
