.star-enter {
    transform: translateY(-90px);
    /*position: ;*/
}

.star-enter-active {
    transform: translateY(0px);
    transition: all 500ms;
}

.star-exit {
    transform: translateY(90px);
}

.star-exit-active {
    transform: translateY(0);
    transition: all 500ms;
}
