$dark: #09091A;

@import "scss/index";

html, body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16pt;
  //background: #EBEBEB;
  @media only screen and (max-width: 640px) {
    font-size: 14pt;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
